<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>link</title>
</head>
<style>
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(116, 161, 169);
    }
</style>
<body>
    <h1>link : <a href="https://portfolliobuilder.onrender.com/<%= title %>">https://portfolliobuilder.onrender.com/<%= title %></a></h1>
</body>
</html>
